<div class="assets">
    @foreach (var asset in Context.Assets)
    {
        <img @ref="asset.Ref" src="@asset.Source" hidden />
    }
</div>

@code {
    [Parameter]
    public BlazorGameContext Context { get; set; }

    [Parameter]
    public EventCallback OnLoaded { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await this.OnLoaded.InvokeAsync(this);
    }
}
